<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
.myDiv {
  border: 5px outset black;
  background-color: darkblue;
  text-align: center;
  color: white;
}
</style>
</head>

<body>
    <div class="myDiv">
      <h2>Sentiment Analysis in Stock Prediction</h2>
      <p>This is some text in a div element.</p>
    </div>
    <h1>{{ prediction_text }}</h1>
  <style>
            body {
                background-color: purple;
                text-align: center;
                padding: 0px;
            }
</body>